<footer class="container-fluid bg-white">
  <div class="row container mx-auto">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="p-2">
        <img src="./images/logo_site.png" alt="logo" width="70px" height="40px">
        <h6 class="pt-1">Rent Pay Rooms</h6>
        <p class="pr-5 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, esse?</p>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="p-2">
        <h6 class="pt-1">Address</h6>
        <address class="pr-5">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, hic?
        </address>
        <h6 class="">Email</h6>
        <p>CKVDevelopers@gmail.com</p>

      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="p-2">
        <h6 class="pt-1">Quick Links</h6>
        <a href="#">Terms And Conditions</a><br>
        <a href="#">Rent Agreement</a>

      </div>
    </div>
  </div>
  <div class="container-fluid bg-dark text-light text-center mt-2 ">&copy; All Rights Reserved 2020</div>
</footer>