 <div class="modal fade " id="login" tabindex=" -1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form novalidate>
            <div class="form-group">
              <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">India(+91)</span>
                </div>
                <input type="number" class="form-control" placeholder="Mobile Number">
              </div>
            </div>
            <div class="form-group">

              <label for="warning" class="col-form-label">We'll call or text you to confirm your
                number.Standard message and data rates apply.</label>
            </div>
            <div class="form-group">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary form-control" data-toggle="modal"
                data-target="#mobile_verify">
                Continue
              </button>

            </div>
          </form>
        </div>
        <div class="container text-center mt-n4">
          <!-- <hr class="w-25 my-0" /> -->

          <label for="or" class="col-form-label ">or</label>

          <!-- <hr class="w-75 my-1" /> -->
        </div>
        <div class="container">
          <form novalidate>
            <div class="form-group">
              <button type="button" class="btn btn-outline-dark form-control mb-2 h">
                <span>
                  <i class="fas fa-envelope float-left"></i>
                </span> Email</button>
              <button type="button" class="btn btn-outline-dark form-control mb-2">
                <span class="float-left">
                  <img src="../images/facebook.png" alt="facebook logo">

                </span>
                Facebook</button>
              <button type="button" class="btn btn-outline-dark form-control mb-2">
                <span class="float-left">
                  <img src="../images/search.png" alt="google logo">
                </span> Google</button>
              <button type="button" class="btn btn-outline-dark form-control mb-2">
                <span class="float-left">
                  <img src="../images/apple.png" alt="apple logo">
                </span>
                Apple</button>

            </div>
          </form>
          <label for="signup" class="col-form-label"> Don’t have an account?
            <b>
              <a href="#" class="" data-toggle="modal" data-target="#signup">
                SignUp
              </a>
            </b>
          </label>
        </div>
      </div>
    </div>
  </div>