<nav class="container-fluid navbar navbar-expand-xl sticky-top navbar-light bg-light px-5">
  <a class="navbar-brand" href="/"><img class="logoIMG" src="./images/logo_site.png" alt="logo" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Rent Agreement</a>
          <a class="dropdown-item" href="#">Tenant Verification</a>
          <a class="dropdown-item" href="#">Agents</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Residential Rooms
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Hostel Rooms</a>
          <a class="dropdown-item" href="#">PGs</a>
          <a class="dropdown-item" href="#">Apartments</a>
          <a class="dropdown-item" href="#">Normal Rooms</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Tourist Rooms
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Shop</a>
          <a class="dropdown-item" href="#">Relaxation Rooms</a>
          <a class="dropdown-item" href="#">Local Rooms</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Commercial
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Shops</a>
          <a class="dropdown-item" href="#">Mall Shops</a>
          <a class="dropdown-item" href="#">Office</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="addproperty" class="btn btn-dark px-3"> Add Property</a>
    </form>
  </div>
</nav>