<div class="container bg-white p-3 shadows">

  <h3 class="mt-3 mb-3">Search Property</h3>
  <form novalidate>
    <div class="form-group mb-0">
      <label for="state" class="col-form-label">State</label>
      <select name="" class="form-control" id="">
        <option value="">Choose State...</option>
        <option value="Madhya Pradesh">Madhya Pradesh</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Maharastra">Maharastra</option>
      </select>
    </div>

    <div class="form-group mb-0">

      <label for="City" class="col-form-label">City</label>
      <select name="" class="form-control" id="">
        <option value="">Choose City... </option>
        <option value="Gwalior">Gwalior</option>
        <option value="Bhind">Bhind</option>
        <option value="Morena">Morena</option>
        <option value="Bangalore">Bangalore</option>
      </select>
    </div>

    <div class="form-group mb-0">
      <label for="landmark" class="col-form-label">Landmark</label>
      <input type="text" class="form-control" placeholder="NearBy Landmark">
    </div>


    <div class="form-group mb-0">
      <label for="Property Type" class="col-form-label">Property Type</label>
      <select name="" class="form-control" id="">
        <option value="">Property Type...</option>
        <option value="Hostel">Hostel</option>
        <option value="PGs">PGs</option>
        <option value="Residential Rooms">Residential Rooms</option>
        <option value="Commercial Rooms">Commercial Rooms</option>
      </select>
    </div>

    <div class="form-group mb-2">
      <label for="Property Type" class="col-form-label">Moving Date</label>
      <select name="" class="form-control" id="">
        <option value="">Moving Date</option>
        <option value="Immediately">Immediately</option>
        <option value="Within 15 Days">Within 15 Days</option>
        <option value="Within 30 Days">Within 30 Days</option>
        <option value="After 30 Days">After 30 Days</option>
      </select>
    </div>
    <div class="form-group">
      <label for="price">Rs.500/- - Rs.1,00,000/- </label>
      <input type="range" min="500" max="1000000" class="form-control-range">
    </div>
    <div class="form-group">
      <button class="btn btn-primary form-control">Search</button>

    </div>
  </form>
</div>