<div class="modal fade " id="mobile_verify" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content model_deco shadow">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Your Number</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="mobile_verify">Enter the code just sent to +7000143933 :</label>
          <div class="container d-flex my-3">
            <div class="mv">

              <input type="number" name="" id="" class="form-control mobile_verify_input_box">
            </div>
            <div>

              <input type="number" name="" id="" class="form-control mobile_verify_input_box">
            </div>
            <div>

              <input type="number" name="" id="" class="form-control mobile_verify_input_box">
            </div>
            <div>

              <input type="number" name="" id="" class="form-control mobile_verify_input_box">
            </div>
          </div>
          <label for="text">Didn't get a text?<a href="#" class="text-dark"><b> Send Again</b> </a></label>
          <br>
          <a href="#" class="text-dark"><b> Call me instead.</b></a><br>
          <a href="#" class="text-dark"><b> SignUp another way</b></a>
        </div>


      </div>
    </div>
  </div>