<div class="container-fluid bg-dark d-flex justify-content-between">
    {{!-- <div class="container-fluid d-flex justify-content-between text-white"> --}}
      <a href="#" class="nav-link text-white"><i class="fa fa-phone textsizeNBtop"></i><span class="textsizeNBtop"> Need Support? +91-7000-143933</span></a>
      <!-- <a href="./Components/login.html" class="nav-link text-white">Log In / SignUp</a> -->
      <a href="login" class="nav-link text-white" data-toggle="modal" data-target="#login">
        <span class="textsizeNBtop">Login / SignUp</span>
         
      </a>

      
    {{!-- </div> --}}
  </div>